<script type="text/javascript">
  $(window).load(function() {$('#featured').orbit();});
</script>

<div class="page-header about-page">
  <h1>Ondokuz Mayıs Üniversitesi</h1>
  <h2>Web Tabanlı Medikal Simülasyon<br> Eğitim Merkezine Hoş Geldiniz...</h2>
</div>

<div id="featured">
  <div class="content">
    <!-- <h1>Ondokuz Mayıs Üniversitesi</h1> -->
    <!-- <h3>Web Tabanlı Simülasyon Eğitim Merkezi</h3> -->
  </div>
 <img src="img/slide/1.jpg" data-caption="#Caption1" />
  <img src="img/slide/2.jpg" data-caption="#Caption2" />
  <img src="img/slide/3.jpg" data-caption="#Caption3" />

</div>

<span class="orbit-caption" id="Caption1">
  <strong>Olgu Ekranı ve Yönetimi</strong>
</span>

<span class="orbit-caption" id="Caption2">
  <strong>Olguların Raporlanması</strong>
</span>

<span class="orbit-caption" id="Caption3">
  <strong>Sistem Yönetim Paneli</strong>
</span>

<!-- DEVAMI GELECEK -->



