
 
 <div id="ourWork">
  <div class="home-content">
    <strong>Lsim Nedir?</strong>
    <p>
    Lsim (Lightening Simulator), web tabanlı sanal hasta tasarımı ve oyunu üzerinden eğitimin yapıldığı bir araçtır.
    </p>

    <strong>Sanal Hasta Nedir?</strong>
    <p>
    Özellikle Tıp fakültesi öğrencileri için hazırlanmış ilginç bir uygulama şekli.
    Her türlü hastalık yapay olarak üretilebiliyor.
   Bu şekilde öğrenciler ve asistanlar sanki gerçek bir hasta ile uğraşıyormuş gibi o maketin üzerinde uygulama yapabiliyorlar.
    Özellikle kadavra bulunmasının mümkün olmadığı zamanlarda aranan bir uygulamadır.
    </p>
    <img src="img/a/toshiba-medical-tablet-pc.jpg" />
    
  
</div>
 <div class="home-content right">
    <strong>Sim'i Kimler Kullanmalıdır?</strong>
    <p>Medikal eğitimleri için Sim kullanabilirsiniz:</p>

    <ul>
      <li>
      Düğümlerinizi dallara ayırarak, öğrencilerin öğrenme sürecine katkı sağlayabilirsiniz.      </li>
      <li>
      Tahlil seçme, sonuç görüntüleme, fiziksel muayene, film değerlendirme, ilaç belirleme ve dozajını ayarlama imkanınız olacak.      </li>
      <li>
      Her bir düğümün maliyetlendirilmesi yapıldı: ödül-ceza puanı ve maliyet.      </li>
      <li>
      Daha fazla bilgi için <%= link_to "Hakkında", about_path %> sayfasını ziyaret ediniz.      </li>
    </ul>
  </div>
</div>


