<div class="page-header people-page">
  <h1>Ekibimiz</h1>
  <h2>Web Tabanlı Simülasyon Eğitimi Projesi<br />Çalışma Ekibimiz ve Çalışma Gruplarımız</h2>
</div>

<div class ="column-row">

  <div class="nine columns" id="fearlessLeaders">
    <h2>Proje Sorumluları</h2>
    <p class="large">Bu Proje Ondokuz Mayıs Üniversitesi Tıp Fakültesi Adli Tıp 
    Anabilim Dalı Öğretim Üyelerinden Yrd.Doç.Dr. Akan Karakuş ile Bilgisayar 
    Mühendisliği Bölüm Başkanı Yrd.Doç.Dr. Nurettin Şenyer ile 
    Yürütülmektedir.</p>

    <div class="fearless-entry">
      <img src="img/a/nurettins.jpg" class="awesome image" />
      <h3>Nurettin Şenyer</h3>
      <p>Bilgisayar Mühendisliği Bölüm Başkanı Yrd.Doç.Dr. Nurettin Şenyer.
      Proje Sorumlusu.</p>
    </div>

    <div class="fearless-entry">
      <img src="img/icon/128x128/surgeon.png" class="awesome image" />
      <h3>Akan Karakuş</h3>
      <p>Ondokuz Mayıs Üniversitesi Tıp Fakültesi Adli Tıp
      Anabilim Dalı Öğretim Üyelerinden Yrd.Doç.Dr. Akan Karakuş</p>
    </div>

  </div>

  <div class="six-and-one-half columns offset-by-one-half">
    <h2>Dinamik Bir Çalışma</h2>
    <p>Projenin Geliştirilmesi Sırasında Çalışanların
    Birbirleri ile Uyumlu Çalışabilmeleri İçin Gelişmiş Tüm Olanaklar
    Kullanılmaktadır.
    <%= link_to "Github.com", "http://github.com" %>
    bunların başında gelmektedir.</p>
    <br />

    <h2>Çalışanlarımız</h2>
    <p>Proje Yönetimi Kapsamında Üniversitemiz Bilgisayar Mühendisliği
    Öğrencileri de Çalışmalarda Etkin Rol Almaktadırlar.</p>

    <ul class="small recent photos">
      <li>
      <a href="http://emineker.net" title="Emin Eker">
	<img alt="Emin Eker" src="img/a/emineker.jpeg" /></a>
      </li>

      <li>
      <a href="http://gdemir.me" title="Gökhan Demir">
        <img alt="Gökhan Demir" src="img/a/gdemir.jpeg" /></a>
      </li>

      <li>
      <a href="http://ecylmz.com" title="Emre Can Yılmaz">
        <img alt="Emre Can Yılmaz" src="img/a/ecylmz.jpeg" /></a>
      </li>
    </ul>

  </div>
</div>
